@import "tailwindcss";


::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #181819;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #6556cd;
    border-radius: 10px;
;
}


/* Hide Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

